<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>items</key>
    <array>
        <dict>
            <key>assets</key>
            <array>
                <dict>
                    <key>kind</key>
                    <string>software-package</string>
                    <key>url</key>
                    <string>https://lv-img.oss-cn-hangzhou.aliyuncs.com/%E8%8A%B1%E7%8C%AB%E4%BA%91%E5%95%86.ipa?Expires=1603444249&OSSAccessKeyId=TMP.3KjAG3xn36mQ5jxGJuK3iA458mhLiKFhHk6Xf7fU5cm9oou97qEgZsqrYuNKLg5uTEX4NC74zK8uG3hRYpFYbvNe2BQoYz&Signature=LDU6xYGCB7bbxu1R%2BXQh8CvtjW8%3D</string>
                </dict>
                <dict>
                    <key>kind</key>
                    <string>display-image</string>
                    <key>url</key>
                    <string>https://download.chinabaoao.com/ios_yabo/image.57x57.png</string>
                </dict>
                <dict>
                    <key>kind</key>
                    <string>full-size-image</string>
                    <key>url</key>
                    <string>https://download.chinabaoao.com/ios_yabo/image.512x512.png</string>
                </dict>
            </array>
            <key>metadata</key>
            <dict>
                <key>bundle-identifier</key>
                <string>com.yabo.games4</string>
                <key>bundle-version</key>
                <string>3.2.1</string>
                <key>kind</key>
                <string>software</string>
                <key>title</key>
                <string>BOOS</string>
            </dict>
        </dict>
    </array>
</dict>
</plist>