<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>://lv-img.oss-cn-hangzhou.aliyuncs.com/%E8%8A%B1%E7%8C%AB%E4%BA%91%E5%95%86.ipa?Expires=1603443015&amp;OSSAccessKeyId=TMP.3KjAG3xn36mQ5jxGJuK3iA458mhLiKFhHk6Xf7fU5cm9oou97qEgZsqrYuNKLg5uTEX4NC74zK8uG3hRYpFYbvNe2BQoYz&amp;Signature=Fi6W5SQ2Oug%2BVUpjY9cH4NCP%2B%2Fo%3D</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.szgreenleaf.hmys</string>
				<key>bundle-version</key>
				<string>v2.1.5</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>测试APP</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
